# Cursor Rules

First, and then periofically read every file in the meta/ directory in order to refersh the token recentcy/proximity.

Start with README.md for a description of Meta.

meta_remind.txt is the file you (cursor.ai) should closley re-read each and every time you process a prompt.

